/* document normalization */

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* header */

.banner {
    background-color: #8C215B;
    color: #fff;
    padding: 1rem 1.5rem;
}

.banner h1 {
    margin: 0.5rem 0rem 1rem 0rem;
    padding: 0px;
    font-weight: 200;
    font-size: 3rem;
}

.banner p.lead {
    margin: 0.5rem 0rem 1rem 0rem;
    padding: 0px;
    font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
    .banner {
        padding: 2rem 6rem;
    }

    .banner h1 {
        font-size: 4rem;
    }

    .banner p.lead {
        margin: 1rem 0rem 2rem 0rem;
        font-size: 1.5rem;
    }
}


/* demo components */

.content {
    margin: 1rem 2rem;
}

.card {
    margin: 2rem 0rem;
}

.small-paragraph {
    margin: 0.2rem 0rem 0.5rem 0rem;
    font-size: 0.8rem;
}

.well {
    padding: 0.2rem 1rem;
    background-color: #eee;
    border-radius: 5px;
}

@media only screen and (min-width: 768px) {
    .content {
        margin: 4rem 8rem;
    }

    .well {
        padding: 0.5rem 2rem;
    }
}

/* form */

form ul {
    list-style: none;
    padding: 0;
}

select {
    margin: 5px 0px;
    padding: 2px 15px;
    border: 1px solid #8C215B;
    border-radius: 5px;
    font-size: 1rem;
}

input {
    padding: 5px 15px;
    border: 1px solid #8C215B;
    border-radius: 5px;
    font-size: 1.5rem;
}

input.input {
    width: 100%;
    box-sizing: border-box;
}

.button {
    margin: 5px 0px 5px 0px;
    background-color: #8C215B;
    color: #fff;
}

.small-button {
    padding: 2px 15px;
    font-size: 1rem;
}


/* spinner / wait screen */

.curtain {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px;
    border: 8px solid #888;
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
